@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/bricolage_grotesques/BricolageGrotesque96pt-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --gap-to-top: 60px;
}

.portada {
  height: 100dvh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--gap-to-top);
}

.titulo-container {
  position: relative;
  color: red;
  display: flex;
  margin-bottom: var(--gap-to-top);
}

.titulo {
  font-family: "BricolageGrotesque", sans-serif;
  font-size: 35vmin;
  letter-spacing: -10px;
  justify-self: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: red;
}

.resgistrada {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 8vmin;
  justify-self: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 65px;
  right: -60px;
}

.image {
  width: 20vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out;
}

.image.inactive {
  display: none;
}

.image.active {
  display: block;
  opacity: 1;
}

.image.fading {
  display: block;
  opacity: 0;
}

.portadaVertical {
  margin: 35px 10px 10px 10px;
}

.titulo-vertical {
  font-size: 30vmin;
  font-family: "Wedges", sans-serif;
  color: red;
  letter-spacing: -20px;
  margin: 0;
  padding: 0;
  line-height: 0.9;
}

.portada {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s ease forwards;
}

.header p:nth-child(1) {
  animation-delay: 0.2s;
}
.header p:nth-child(2) {
  animation-delay: 0.4s;
}
.header p:nth-child(3) {
  animation-delay: 0.6s;
}

.titulo-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1s;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
