---
import Manifiesto from "../components/manifiesto/manifiesto";
import PortadaSwitcher from "../components/portada/PortadaSwitcher";
import Layout from "../layouts/Layout.astro";
import Proyectos from "../components/proyectos.astro";
import Footer from "../components/footer.astro";
import SobreMiPortada from "../components/sobreMiPortada.astro";

// src/pages/index.astro
// import Manifiesto from "../components/manifiesto.astro";

---

<Layout>
    <SobreMiPortada />
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>
    <p>Paula</p>

</Layout>
