---

---

<style>
  @font-face {
    font-family: "BricolageGrotesque";
    src: url("/fonts/bricolage_grotesques/BricolageGrotesque96pt-Bold.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  footer {
    margin-top: 4rem;
    background-color: red;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-family: "BricolageGrotesque", sans-serif;
    max-width: 100vw;
    overflow: hidden;
  }

  footer .titulo-footer {
    font-size: 5rem;
    margin: 0;
    padding: 0;
  }

  .titulo-footer {
    position: relative;
    color: white;
    display: flex;
  }

  .titulo {
    font-family: "BricolageGrotesque", sans-serif;
    font-size: 25vmin;
    letter-spacing: -10px;
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: white;
  }

  .resgistrada {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8vmin;
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    left: -260px;
}
</style>

<footer>
  <div class="titulo-footer">
    <p class="titulo">Paula</p>
    <p class="resgistrada">®</p>
  </div>
</footer>
