---

---

<style>
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    font-weight: bold;
  }

  .header p {
    color: red;
    margin: 25px;
    padding: 0;
    font-size: 2.5vmin;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.3s ease forwards;
  }

  .header p:nth-child(1) {
    animation-delay: 0.2s;
  }
  .header p:nth-child(2) {
    animation-delay: 0.4s;
  }
  .header p:nth-child(3) {
    animation-delay: 0.6s;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  a {
    color: red;
    text-decoration: none;
    z-index: 9999;
  }

  a:hover {
    text-decoration: underline;
  }
</style>

<header class="header">
  <p><a href="">CV</a></p>
  <p><a href="/sobremi">SOBRE MÍ</a></p>
  <p><a href="">CONTACTO</a></p>
</header>
