<style>
  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-Light";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-Light.ttf")
      format("truetype");
    font-style: normal;
  }
  .titulo1 {
    font-family: "BricolageGrotesque96ptCondensed-Light", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-Medium";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-Medium.ttf")
      format("truetype");
    font-style: normal;
  }
  .titulo2 {
    font-family: "BricolageGrotesque96ptCondensed-Medium", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-Regular";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-Regular.ttf")
      format("truetype");
    font-style: normal;
  }
  .titulo3 {
    font-family: "BricolageGrotesque96ptCondensed-Regular", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-SemiBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-SemiBold.ttf")
      format("truetype");
    font-style: normal;
  }
  .titulo4 {
    font-family: "BricolageGrotesque96ptCondensed-SemiBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }
</style>
<body>
  <p class="titulo1">Paula</p>
  <p class="titulo2">Paula</p>
  <p class="titulo3">Paula</p>
  <p class="titulo4">Paula</p>
</body>
