<style>
/* @font-face { 
    font-family: "BricolageGrotesque-Bold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-Bold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-ExtraBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-ExtraBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-ExtraLight";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-ExtraLight.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-Light";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-Light.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-Medium";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-Medium.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-Regular";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-Regular.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque-SemiBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque-SemiBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-Bold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-Bold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-ExtraBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-ExtraBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-ExtraLight";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-ExtraLight.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-Light";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-Light.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-Medium";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-Medium.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-Regular";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-Regular.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12pt-SemiBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12pt-SemiBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-Bold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-Bold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-ExtraBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-ExtraBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-ExtraLight";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-ExtraLight.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-Light";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-Light.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-Medium";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-Medium.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-Regular";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-Regular.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque12ptCondensed-SemiBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque12ptCondensed-SemiBold.ttf")
      format("truetype");
    font-style: normal;
  }
*/
  @font-face {
    font-family: "BricolageGrotesque96pt-Bold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-Bold.ttf")
      format("truetype");
    font-style: normal;
  }

 /* @font-face {
    font-family: "BricolageGrotesque96pt-ExtraBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-ExtraBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96pt-ExtraLight";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-ExtraLight.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96pt-Light";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-Light.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96pt-Medium";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-Medium.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96pt-Regular";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-Regular.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96pt-SemiBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96pt-SemiBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-Bold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-Bold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-ExtraBold";
    src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-ExtraBold.ttf")
      format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "BricolageGrotesque96ptCondensed-ExtraLight";
     src: url("./fonts/bricolage_grotesques/BricolageGrotesque96ptCondensed-ExtraLight.ttf")
      format("truetype");
    font-style: normal;
  } -->
/*
  .titulo1 {
    font-family: "BricolageGrotesque-Bold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo2 {
    font-family: "BricolageGrotesque-ExtraBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo3 {
    font-family: "BricolageGrotesque-ExtraLight", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo4 {
    font-family: "BricolageGrotesque-Light", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo5 {
    font-family: "BricolageGrotesque-Medium", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo6 {
    font-family: "BricolageGrotesque-Regular", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo7 {
    font-family: "BricolageGrotesque-SemiBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo8 {
    font-family: "BricolageGrotesque12pt-Bold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo9 {
    font-family: "BricolageGrotesque12pt-ExtraBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo10 {
    font-family: "BricolageGrotesque12pt-ExtraLight", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo11 {
    font-family: "BricolageGrotesque12pt-Light", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo12 {
    font-family: "BricolageGrotesque12pt-Medium", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo13 {
    font-family: "BricolageGrotesque12pt-Regular", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo14 {
    font-family: "BricolageGrotesque12pt-SemiBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo15 {
    font-family: "BricolageGrotesque12ptCondensed-Bold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo16 {
    font-family: "BricolageGrotesque12ptCondensed-ExtraBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo17 {
    font-family: "BricolageGrotesque12ptCondensed-ExtraLight", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo18 {
    font-family: "BricolageGrotesque12ptCondensed-Light", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo19 {
    font-family: "BricolageGrotesque12ptCondensed-Medium", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo20 {
    font-family: "BricolageGrotesque12ptCondensed-Regular", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo21 {
    font-family: "BricolageGrotesque12ptCondensed-SemiBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  } */

  .titulo22 {
    font-family: "BricolageGrotesque96pt-Bold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  /* .titulo23 {
    font-family: "BricolageGrotesque96pt-ExtraBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  } */
/* 
  .titulo24 {
    font-family: "BricolageGrotesque96pt-ExtraLight", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo25 {
    font-family: "BricolageGrotesque96pt-Light", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo26 {
    font-family: "BricolageGrotesque96pt-Medium", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo27 {
    font-family: "BricolageGrotesque96pt-Regular", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo28 {
    font-family: "BricolageGrotesque96pt-SemiBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo29 {
    font-family: "BricolageGrotesque96ptCondensed-Bold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo30 {
    font-family: "BricolageGrotesque96ptCondensed-ExtraBold", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

  .titulo31 {
    font-family: "BricolageGrotesque96ptCondensed-ExtraLight", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }

    .titulo32 {
    font-family: "", sans-serif;
    font-size: 30vmin;
    
    justify-self: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: red;
  }
</style> */
<body>
  <!-- <p class="titulo1">Paula</p>
  <p class="titulo2">Paula</p>
  <p class="titulo3">Paula</p>
  <p class="titulo4">Paula</p>
  <p class="titulo5">Paula</p>
  <p class="titulo6">Paula</p>
  <p class="titulo7">Paula</p>
  <p class="titulo8">Paula</p>
  <p class="titulo9">Paula</p>
  <p class="titulo10">Paula</p>
  <p class="titulo11">Paula</p>
  <p class="titulo12">Paula</p>
  <p class="titulo13">Paula</p>
  <p class="titulo14">Paula</p>
  <p class="titulo15">Paula</p>
  <p class="titulo16">Paula</p>
  <p class="titulo17">Paula</p>
  <p class="titulo18">Paula</p>
  <p class="titulo19">Paula</p>
  <p class="titulo20">Paula</p>
  <p class="titulo21">Paula</p> -->
  <p class="titulo22">Paula</p>
  <p class="titulo23">Paula</p>
  <!-- <p class="titulo24">Paula</p> -->
  <!-- <p class="titulo25">Paula</p> -->
  <!-- <p class="titulo26">Paula</p> -->
  <!-- <p class="titulo27">Paula</p> -->
  <!-- <p class="titulo28">Paula</p> -->
  <!-- <p class="titulo29">Paula</p> -->
  <!-- <p class="titulo30">Paula</p> -->
  <!-- <p class="titulo31">Paula</p> -->
</body>
