---
---

<style>
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/bricolage_grotesques/BricolageGrotesque96pt-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BricolageGrotesque-Light";
  src: url("/fonts/bricolage_grotesques/BricolageGrotesque96pt-Light.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}



.video-presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 600px;
}


.txt-section {
    color: red;
}

p {
    padding: 0;
    margin: 0;
    font-size:  9dvw;
    line-height: 0.7;
    letter-spacing: -8px;
}

.txt-section p:first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.txt-section p:last-child{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

video {
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    max-width: 500px;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el ratón */
video:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0,0,0,0.45);
}

/* Opcional: añadir un borde sutil */
video {
}


@media (max-width: 1100px) {
    .video-presentacion {
        flex-direction: column;
        text-align: center;
        min-height: auto;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .txt-section p {
        font-size: 4rem;
    }

    video {
        max-width: 100%;
    }
}


</style>


<section class="video-presentacion">

    <div class="txt-section">
        <p>Conóceme</p>
        <p>un poco más</p>
    </div>

    <div>
        <video controls poster="/fotos/sobremi/miniatura_video.png">
            <source src="video/videoporfolio.MOV" type="video/mp4">
            Tu navegador no soporta el video.
        </video>

    </div>
</section>